.place__text {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  max-width: 195px;
}