.profile-info__name {
  grid-area: name;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@media (max-width: 700px) {
  .profile-info__name {
    text-align: center;
  }
}

@media (max-width: 440px) {
  .profile-info__name {
    font-size: 27px;
    line-height: 1.21;
  }
}