.profile-info__status {
  grid-area: status;
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
  /* align-items: baseline; */
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@media (max-width: 700px) {
  .profile-info__status {
    text-align: center;
  }
}

@media (max-width: 440px) {
  .profile-info__status {
    font-size: 14px;
    line-height: 1.21;
  }
}